body{ 
    font-family: 'Lora', serif;
    color:rgb(92, 88, 88);
}

/*titolo grande*/
#titolo_grande{
    width: 1330px;
    padding-top: 50px;
    padding-left: 480px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(172, 168, 168);
}

/*sottotitolo*/
#sottotitolo{
    padding-top: 15px;
    padding-left: 620px;
}

#paragrafo{
    font-size: 17px;
    width: 1200px;
    text-align: center;
    line-height: 30px;
    height: auto;
    width: auto;
}

#sfondo{
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    background-color: wheat;
    height: auto;
    width: auto;
}

#riquadro{
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px;
    padding-top: 30px;
    background-color: transparent;
    border: 2px solid rgb(109, 107, 107);
    height: auto;
    width: auto;
    border-radius: 5px;
    text-align: center;
}


/**fine**/
#spazio_vuoto{
    width:auto;
    height:30px;
    background: transparent;
}

#barra_finale{
    height:90px;
    background: #5c4024;;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#txt_finale {
    padding-top: 20px;
    width: 200px;
    color: wheat;
}

#icona_finale .btn{
    width: 4rem;
    position: relative;
    left: 95%;
    top:-30px;
}


@media screen and (max-width: 990px){
    /*correggere dimensione container*/
    #barra_titolo1{
        height: auto;
        width: 90%;
       
    }
    #titolo_grande{
        top:1rem;
        position:relative;
        padding: 20px;
        left:10%;
    }
  }
