/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{ background: #923d55;}
/*stile del FORM*/
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #923d55;
  font-family: 'Lora', serif;
}
.form{
  z-index: 0;
  position: absolute;
  width: 320px;
  text-align: center;
  top:150px;
}
.form i{
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 65px;
  margin-bottom: 30px;
}
.form .signup-form{
  display: none;
}
.form .user-input{
  width: 320px;
  height: 55px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.582);
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}
.form .user-input:hover, .form .user-input:focus, .form .user-input:active{
  border-left: solid 8px #ffffff;
  border-right: solid 8px #ffffff;
  box-shadow: 0 0 100px rgba(117, 37, 57, 0.8);
}
/*Ricordami e Hai dimenticato password*/
.form .options-01{
  margin-bottom: 25px;
}
.form .options-01 input{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
/*Ricordami --> DA FARE REMEMBER ME SE SI HA TEMPO*/
/*.form .options-01 .remember-me{
  color: #bbb;
  font-size: 14px;
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;
}*/
/*Hai dimenticato la password? --> DA FARE RECUPERO PASSWORD se si ha tempo*/
.form .options-01 a{
  color: #bbb;
  font-size: 13px;
  font-style: italic;

}
/*bottone*/
.form .btn{
  outline: none;
  border: none;
  width: 320px;
  height: 55px;
  background: #5b3d92;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}
.form .btn:hover{
  border-left: solid 8px rgba(255, 255, 255, 0.5);
  border-right: solid 8px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 100px rgba(250, 250, 250, 0.8);
}
/*scritte Ricorda e Recupero password*/
.form .options-02{
  color: #bbb;
  font-size: 14px;
  margin-top: 30px;
}
.form .options-02 a{
  color: #bbb; /*Accedi*/
}
/*CSS responsive per schemi piccoli */
@media screen and (max-width: 500px){
  .form{width: 95%;}
  .form .user-input{width: 100%}
  .form .btn{width: 100%;}
}
/*Navbar*/
/*inserimento media query per il formato mobile, ovvero, con @media, esegue il contenuto solo se ci troviamo a una larghezza da 0 al massimo indicato, di solito per schermi piccoli*/
@media (max-width:990px){
  .big-text{font-size: 40px;} 
  #info{
      
      display:contents;
  }
}
.navbar{
  width: 100%;
  position:relative;
  display:flex;
  z-index: 1;
}
#info{
  position: absolute;
  left: 80%;    
}

/*
.navbar{
  top:0px;
  position: absolute;
}
#navbarNavAltMarkup2{
  top:60px;
  position: relative;
}
*/
